[project]
	description = go.tools fork with support for arm64
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Aram Hăvărneanu (4ad)
[access "refs/for/refs/*"]
	read = group user/Aram Hăvărneanu (4ad)
	push = group user/Aram Hăvărneanu (4ad)
	label-Code-Review = -2..+2 group user/Aram Hăvărneanu (4ad)
	label-Verified = -1..+1 group user/Aram Hăvărneanu (4ad)
	rebase = group user/Aram Hăvărneanu (4ad)
	removeReviewer = group user/Aram Hăvărneanu (4ad)
	submit = group user/Aram Hăvărneanu (4ad)
[access "refs/heads/*"]
	read = group user/Aram Hăvărneanu (4ad)
	create = group user/Aram Hăvărneanu (4ad)
	push = +force group user/Aram Hăvărneanu (4ad)
	pushMerge = group user/Aram Hăvărneanu (4ad)
[access "refs/tags/*"]
	push = +force group user/Aram Hăvărneanu (4ad)
	createTag = group user/Aram Hăvărneanu (4ad)
	createSignedTag = group user/Aram Hăvărneanu (4ad)
